<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">MovieSelector</h1>
      <p class="lead">This is a website that share your favorite movie with you friend.</p>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My OwnGroup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My JoinGroup</a>
        </li>
      </ul>
</nav>