<div class="row">
    <div class = "col-xs-12">
        <form (ngSubmit)="leaveJoinGroup(leaveJoinGroupForm)" #leaveJoinGroupForm="ngForm"> 
            <div class="form-group" >
              <label for="groupName">groupName</label>
              <input type="text" class="form-control" id="groupName" ngModel name="groupName" required>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!leaveJoinGroupForm.valid">Submit</button>
        </form>
    </div>
</div>